.SearchBox {
  width: 300px;
  padding: 8px;
}

.listToggle{
  display: none;
}

@media only screen and (max-width: 600px) {
  .SearchBox {
    top: 0;
    width: calc(90% - 20px);
  }
  .header {
    position: fixed;
    background-color: rgb(32, 161, 170);
    padding: 20px 20px 10px 20px;
    left: 0;
    top: 0;
    width: 100%;
    line-height: normal;
  }
  .listToggle{
    display: block;
    margin-top:10px;
    justify-content: right;
    color:#fff;
    font-size: 14px;
  }
  .button{
    font-size: 10px!important;
  }
}